    <div class="space">
      <img src="/image/imgindex.jpg" alt="">
    </div>
    <section class="title-index">
      <h1>CHÀO MỪNG BẠN ĐẾN VỚI KỲ NGHỈ MỞ ƯỚC</h1>
      <p>
        Khám phá các phòng sang trọng của chúng tôi và đặt kỳ nghỉ hoàn hảo cho
        bạn ngay hôm nay.
      </p>
    </section>
    <section class="about-us">
      <div class="container-note-1">
        <div class="text-section">
            <h1>Chúng tôi sẽ giúp bạn khám phá!</h1>
            <p>Sự kết hợp hài hòa giữa món ngon địa phương và hương vị Đông Tây, dưới bàn tay tài hoa, chuyên nghiệp của các đầu bếp tài năng và sự phục vụ chu đáo, chu đáo của đội ngũ nhân viên sẽ giúp kỳ nghỉ của bạn trọn vẹn hơn.</p>
            <div class="stats">
                <div class="stat">
                    <h2>9</h2>
                    <p>Đánh giá xếp hạng 5 sao</p>
                </div>
                <div class="stat">
                    <h2>22</h2>
                    <p>Các mặt hàng được phục vụ</p>
                </div>
            </div>
        </div>
        <div class="image-section">
          <img src="/image/image10.png">
        </div>
    </div>
        </section>
    
  </br>

  <br /><br />
  <section class="slider">
    <div class="slides">
     <div class="slide">
    <img src="/image/image1.jpg" alt="Khách sạn sang trọng" />
</div>
<div class="slide">
    <img src="/image/image2.jpg" alt="Phòng thoải mái" />
</div>
<div class="slide">
    <img src="/image/image3.jpg" alt="Cảnh đẹp" />
</div>

    </div>
    <div class="dots">
      <span class="dot" data-index="0"></span>
      <span class="dot" data-index="1"></span>
      <span class="dot" data-index="2"></span>
    </div>
  </section>
    <br/>
    <div class="title-index">
      <h1>Lời chứng thực mới nhất của chúng tôi và những gì khách hàng của chúng tôi nói</h1>
    </div>
    <div class="container-booking">
      <section class="booking-section">
        <div class="booking-container">
            <div class="image-container">
                <img src="/image/image11.png">
            </div>
            <div class="text-container">
                <h2>Đừng chờ đợi và lãng phí thời gian, chỉ cần gõ cửa và đặt chỗ ngay!</h2>
                <h3>
                  Chúng tôi có một trong những khu nghỉ dưỡng tốt nhất và bạn có thể dễ dàng đặt bất kỳ phòng hoặc khu nghỉ dưỡng nào vào bất kỳ lúc nào. 
                  Đây là ưu đãi tốt nhất để bạn thực hiện bất kỳ đặt phòng nghỉ dưỡng nào một cách dễ dàng nhất. 
                  Đừng lo lắng, chúng tôi luôn sẵn sàng giúp bạn đặt chỗ nhanh chóng.
                </h3>
                <button class="booking-button"> <a th:href="@{/rooms}" >Đặt Ngay</a> </button>
            </div>
        </div>
    </section>
    </div>
    </br>
    <section class="hotel-location">
      <h1 class="">Vị Trí Của Chúng Tôi</h1>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.454437462173!2d106.62420897512919!3d10.852999257776425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bee0b0ef9e5%3A0x5b4da59e47aa97a8!2zQ8O0bmcgVmnDqm4gUGjhuqduIE3hu4FtIFF1YW5nIFRydW5n!5e0!3m2!1svi!2s!4v1738303662506!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
  <br/>
    <div class="title-index">
      <h1>Giới Thiệu Thành Viên Nhóm</h1>
    </div>
    <br />
    <div class="member-container">
      <section class="section-card">
        <div class="container swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="card swiper-slide">
              <div class="card-content">
                <div class="image">
                  <img src="/image/IMG_4525.jpg" alt="" />
                </div>
                <div class="social-media">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-instagram"></i>
                  <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="name-profession">
                  <span class="name">Nguyễn Trọng Trí</span>
                  <span class="profession">Phát Triển Phần Mềm</span>
                </div>
                <div class="button">
				<a href="/files/Ve_Toi_1.docx" download><button>Về Tôi</button></a>
                  <button>Thuê Tôi</button>
                </div>
              </div>
            </div>

            <div class="card swiper-slide">
              <div class="card-content">
                <div class="image">
                  <img src="/image/IMG_4525.jpg" alt="" />
                </div>
                <div class="social-media">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-instagram"></i>
                  <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="name-profession">
                  <span class="name">Lê Tâm</span>
                  <span class="profession">Phát Triển Phần Mềm</span>
                </div>
                <div class="button">
                  <button>Về Tôi</button>
                  <button>Thuê Tôi</button>
                </div>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="card-content">
                <div class="image">
                  <img src="/image/IMG_4525.jpg" alt="" />
                </div>
                <div class="social-media">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-instagram"></i>
                  <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="name-profession">
                  <span class="name">Trần Tuấn Anh</span>
                  <span class="profession">Phát Triển Phần Mềm</span>
                </div>
                <div class="button">
                  <button>Về Tôi</button>
                  <button>Thuê Tôi</button>
                </div>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="card-content">
                <div class="image">
                  <img src="/image/IMG_4525.jpg" alt="" />
                </div>
                <div class="social-media">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-instagram"></i>
                  <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="name-profession">
                  <span class="name">Phạm Anh Khoa</span>
                  <span class="profession">Phát Triển Phần Mềm</span>
                </div>
                <div class="button">
                  <button>Về Tôi</button>
                  <button>Thuê Tôi</button>
                </div>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="card-content">
                <div class="image">
                  <img src="/image/IMG_4525.jpg" alt="" />
                </div>
                <div class="social-media">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-instagram"></i>
                  <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="name-profession">
                  <span class="name">Từ Ngọc Sơn</span>
                  <span class="profession">Phát Triển Phần Mềm</span>
                </div>
                <div class="button">
                  <button>Về Tôi</button>
                  <button>Thuê Tôi</button>
                </div>
              </div>
            </div>
            <div class="card swiper-slide">
              <div class="card-content">
                <div class="image">
                  <img src="/image/IMG_4525.jpg" alt="" />
                </div>
                <div class="social-media">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-instagram"></i>
                  <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="name-profession">
                  <span class="name">Hồ Minh Quân</span>
                  <span class="profession">Phát Triển Phần Mềm</span>
                </div>
                <div class="button">
                  <button>Về Tôi</button>
                  <button>Thuê Tôi</button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
    </div>
    
    <script type="text/javascript">
    const slides1 = document.querySelector('.slides');
    const dots1 = document.querySelectorAll('.dot');
    let index1 = 0;

    function moveToSlide(slideIndex) {
      const slideWidth = document.querySelector('.slide').clientWidth;
      slides1.style.transform = `translateX(-${slideIndex * slideWidth}px)`;

      dots1.forEach(dot => dot.classList.remove('active'));
      dots1[slideIndex].classList.add('active');
    }

    setInterval(() => {
      index1 = (index1 + 1) % 3;
      moveToSlide(index1);
    }, 3000);

    dots1.forEach(dot => {
      dot.addEventListener('click', (e) => {
        index1 = parseInt(e.target.dataset.index);
        moveToSlide(index1);
      });
    });

    moveToSlide(index1);
</script>